p {
  color: #ddd;
}
.board {
  width: 500px;
  aspect-ratio: 1;
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}
.card {
  width: 12, 5%;
  aspect-ratio: 1;
  .piece svg {
    width: 90%;
    height: 90%;
    aspect-ratio: 1;
  }
}

.whiteCards {
  background-color: white;
}

.darkCards {
  background-color: #808080;
}
.whitePiece {
  fill: rgb(187, 53, 53);
}
.blackPiece {
  fill: black;
}
