.whiteCards {
  background-color: #ffb703;
  width: 100%;
  height: 100%;
}
.darkCards {
  background-color: #8ecae6;
  width: 100%;
  height: 100%;
}
.white {
  fill: #023047;
}
.black {
  fill: #1e7b92;
}
