$textColor: #ddd;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
@import "_board.scss";
@import "_special.scss";
